
@{
    ViewBag.Title = "Index";
}

<h2>INICIO</h2>
<div class="container">
    <div class="row">
        <a href="/Usuario/Index" class="btn btn-default">Mantenedor Usuarios</a>
        <a href="/Perfil/Index" class="btn btn-default">Mantenedor Perfiles</a>
        <a href="/Producto/Index" class="btn btn-default">Mantenedor Productos</a>
        <a href="/DTE/Index" class="btn btn-default">Mantenedor DTE</a>
    </div>
</div>

