<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMatematicas" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52307/Matematicas.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMatematicas" contract="MatematicasSvc.IMatematicas"
                name="BasicHttpBinding_IMatematicas" />
        </client>
    </system.serviceModel>
</configuration>
