@{
    ViewBag.Title = "Index";
}
<section class="container">
    <center><h2 class="page-header">DTE REGISTRADOS</h2></center>
    <br />
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="/DTE/Agregar">AGREGAR DTE</a>
            <br /><br />
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <td><strong>ID</strong></td>
                            <td><strong>FOLIO</strong></td>
                            <td><strong>FECHA EMISION</strong></td>
                            <td><strong>MONTO</strong></td>
                            <td><strong>TIPO</strong></td>
                            <td><strong>OPCIONES</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>252451ds</td>
                            <td>20/05/2017</td>
                            <td>2500</td>
                            <td>AUDIO</td>
                            <td>
                                <a href="/DTE/Editar" class="btn btn-primary">EDITAR</a>
                                <a href="/DTE/Eliminar" class="btn btn-danger">ELIMINAR</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>252451ds</td>
                            <td>20/05/2017</td>
                            <td>2500</td>
                            <td>AUDIO</td>
                            <td>
                                <a href="/DTE/Editar" class="btn btn-primary">EDITAR</a>
                                <a href="/DTE/Eliminar" class="btn btn-danger">ELIMINAR</a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>252451ds</td>
                            <td>20/05/2017</td>
                            <td>2500</td>
                            <td>AUDIO</td>
                            <td>
                                <a href="/DTE/Editar" class="btn btn-primary">EDITAR</a>
                                <a href="/DTE/Eliminar" class="btn btn-danger">ELIMINAR</a>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            <div class="">
                <a class="btn btn-default" href="~/">VOLVER</a>
            </div>
        </div>
    </div>
</section>

