<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmpresasEntities" connectionString="metadata=res://*/Usuarios.EDM.csdl|res://*/Usuarios.EDM.ssdl|res://*/Usuarios.EDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PRYMOMAX-PC\SQLEXPRESS;Initial Catalog=Empresas;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>